<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="email_designer" frontName="email_designer">
            <module name="Mirasvit_EmailDesigner" before="Magento_Adminhtml"/>
        </route>
    </router>
</config>
