<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Omnyfy_VendorSubscription::base" title="Vendor Subscription" translate="title" sortOrder="100">
                    <resource id="Omnyfy_VendorSubscription::plans" title="Plans" translate="title" sortOrder="110" />
                    <resource id="Omnyfy_VendorSubscription::subscriptions" title="Subscriptions" translate="title" sortOrder="120" />
                    <resource id="Omnyfy_VendorSubscription::histories" title="History" translate="title" sortOrder="130" />
                    <resource id="Omnyfy_VendorSubscription::subscription_update" title="Update" translate="title" sortOrder="140" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
