<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="omnyfy_subscription_plan_listing_data_source" xsi:type="string">Omnyfy\VendorSubscription\Model\Resource\Plan\Grid\Collection</item>
                <item name="omnyfy_subscription_subscription_listing_data_source" xsi:type="string">Omnyfy\VendorSubscription\Model\Resource\Subscription\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Omnyfy\VendorSignUp\Helper\Backend">
        <plugin name="omnyfy_subscription_helper_get_role_id" type="Omnyfy\VendorSubscription\Plugin\HelperGetRoleId" sortOrder="100" />
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="subscription_init" xsi:type="object">Omnyfy\VendorSubscription\Command\Init</item>
                <!--
                <item name="subscription_test" xsi:type="object">Omnyfy\VendorSubscription\Command\Test</item>
                -->
            </argument>
        </arguments>
    </type>

    <preference for="Omnyfy\VendorSubscription\Api\UpdateRepositoryInterface" type="Omnyfy\VendorSubscription\Model\UpdateRepository" />
</config>
