<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="rewards_behavior" frontName="rewards_behavior">
            <module name="Mirasvit_RewardsBehavior"/>
        </route>
    </router>
</config>
