<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mst_reports" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced Reports</label>
            <tab>mirasvit</tab>
            <resource>Mirasvit_Reports::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General</label>

                <field id="order_status" translate="label" type="multiselect" sortOrder="10" showInDefault="1">
                    <label>Order Status</label>
                    <source_model>Mirasvit\Reports\Model\Config\Source\OrderStatusSource</source_model>
                    <comment>Used to filter sales reports by order statuses</comment>
                </field>
            </group>
        </section>
    </system>
</config>
