<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Ihor Vansach (ihor@omnyfy.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Omnyfy_VendorSignUp" setup_version="1.0.2">
		<sequence>
            <module name="Omnyfy_Core"/>
            <module name="Omnyfy_Vendor"/>            
            <module name="Omnyfy_Mcm"/>
        </sequence>
    </module>
</config>
