<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amastyfaq>
            <general>
                <enabled>1</enabled>
                <url_key>knowledge-base</url_key>
                <add_to_toolbar_menu>1</add_to_toolbar_menu>
                <add_to_category_menu>0</add_to_category_menu>
                <add_to_footer_menu>1</add_to_footer_menu>
                <label>FAQ</label>
            </general>
            <faq_page>
                <show_breadcrumbs>1</show_breadcrumbs>
                <show_ask>1</show_ask>
                <category_sort>position</category_sort>
                <question_sort>position</question_sort>
                <limit_short_answer>250</limit_short_answer>
                <show_search>1</show_search>
                <no_result>No results found</no_result>
                <limit_question_category>20</limit_question_category>
                <limit_question_search>15</limit_question_search>
                <short_answer_behavior>0</short_answer_behavior>
                <tag_menu_limit>10</tag_menu_limit>
            </faq_page>
            <faq_home_page>
                <use_faq_home_page>1</use_faq_home_page>
                <layout>2columns-left</layout>
            </faq_home_page>
            <user_email>
                <user_notify>1</user_notify>
                <sender>general</sender>
            </user_email>
            <admin_email>
                <enable_notify>1</enable_notify>
                <send_to>general</send_to>
            </admin_email>
            <product_page>
                <show_link>1</show_link>
                <show_tab>1</show_tab>
                <tab_position>55</tab_position>
                <limit_question_product>15</limit_question_product>
                <short_answer_behavior>1</short_answer_behavior>
            </product_page>
            <rating>
                <enabled>1</enabled>
                <type>0</type>
            </rating>
            <social>
                <enabled>1</enabled>
                <buttons>facebook,twitter,reddit,tumblr</buttons>
            </social>
            <seo>
                <canonical_url>0</canonical_url>
                <sitemap>0</sitemap>
            </seo>
            <gdpr>
                <enabled>0</enabled>
                <text><![CDATA[I agree to the <a href="/privacy-policy" target="_blank">Privacy Policy</a>]]></text>
            </gdpr>
        </amastyfaq>
    </default>
</config>
