<div data-role="segment-progress" data-bind="afterRender: afterRender">
<!--<div data-role="segment-progress">-->
    <!-- ko if: state().steps  -->
    <div data-role="steps-wizard-main" class="steps-wizard">
        <!-- ko if: _.size(state().steps) > 1 -->
        <ul class="nav-bar">
            <!-- ko foreach: { data: _.toArray(state().steps), as: 'item'} -->
            <li data-bind="css: {active: item.status == 'processing'}">
                <a href="#" data-bind="text: item.name"></a>
            </li>
            <!-- /ko -->
        </ul>
        <!-- /ko -->

        <!-- ko if: _.size(state().steps) == 1 -->
            <!-- ko foreach: { data: _.toArray(state().steps), as: 'item' } -->
                <h4 data-bind="text: item.name"></h4>
            <!-- /ko -->
        <!-- /ko -->

        <div class="clearfix"></div>
    </div>
    <!-- /ko -->

    <!-- ko if: state().current -->
    <div class="progress-bar-text-description">
        <div class="progress-bar-text-description-title" data-bind="text: state().current.name"></div>
        <div class="progress-bar-text-description-eta" data-bind="text: state().current.eta"></div>
    </div>
    <div class="progress">
        <div class="progress-bar" data-bind="style: {width: state().current.percent}">
            <div class="progress-bar-text-progress" data-bind="text: state().current.position"></div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: state().completed -->
    <div class="message message-success">
        <p><b>Segment data successfully refreshed.</b></p>
        <table>
            <tr>
                <th>Number of matched customers</th>
                <td data-bind="text: state().completed.count"></td>
            </tr>
        </table>
    </div>
    <!-- /ko -->

    <!-- ko if: state().error -->
    <div class="message message-error" data-bind="html: state().error"></div>
    <!-- /ko -->

    <!-- ko if: !state().current && !state().completed && !state().error -->
    <div class="spinner">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
    <!-- /ko -->
</div>