<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\ResourceModel\Subscriber\Collection">
        <plugin name="filterBySegment" type="Mirasvit\CsNewsletter\Plugin\Crontab\Magento\Newsletter\Model\ResourceModel\Subscriber\Collection\FilterBySegmentPlugin" />
    </type>
</config>
