<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_predispatch">
		<observer instance="Omnyfy\VendorAuth\Observer\Webapi\Controller\ActionPredispatch" name="omnyfy_vendorauth_observer_webapi_controller_actionpredispatch_controller_action_predispatch"/>
	</event>
</config>
