<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mirasvit_Rma::rma" title="RMA" sortOrder="70">
                    <resource id="Mirasvit_Rma::rma_rma" title="RMA" sortOrder="10">
                        <resource id="Mirasvit_Rma::actions" title="Actions" translate="title" sortOrder="10">
                            <resource id="Mirasvit_Rma::add" title="Add and Edit" translate="title" sortOrder="10"/>
                            <resource id="Mirasvit_Rma::delete" title="Delete" translate="title" sortOrder="20"/>
                        </resource>
                    </resource>
                    <resource id="Mirasvit_Rma::rma_dictionary" title="Dictionaries" sortOrder="20">
                        <resource id="Mirasvit_Rma::rma_dictionary_status" title="Statuses" sortOrder="10"/>
                        <resource id="Mirasvit_Rma::rma_dictionary_reason" title="Reasons" sortOrder="20"/>
                        <resource id="Mirasvit_Rma::rma_dictionary_condition" title="Conditions" sortOrder="30"/>
                        <resource id="Mirasvit_Rma::rma_dictionary_resolution" title="Resolutions" sortOrder="40"/>
                        <resource id="Mirasvit_Rma::rma_dictionary_field" title="Custom Fields" sortOrder="50"/>
                        <resource id="Mirasvit_Rma::rma_dictionary_template" title="Quick Responses" sortOrder="60"/>
                        <resource id="Mirasvit_Rma::rma_return_addresses" title="Return Addresses" sortOrder="70"/>
                    </resource>
                    <resource id="Mirasvit_Rma::rma_rule" title="Workflow Rules" sortOrder="30"/>
                    <resource id="Mirasvit_Rma::rma_report" title="Reports" sortOrder="40">
                        <resource id="Mirasvit_Rma::rma_report_report_rma" title="RMA" sortOrder="10"/>
                        <resource id="Mirasvit_Rma::rma_report_report_rma_product" title="RMA by Product" sortOrder="20"/>
                        <resource id="Mirasvit_Rma::rma_report_report_rma_brand" title="RMA by Brand" sortOrder="30"/>
                    </resource>
                    <resource id="Mirasvit_Rma::rma_settings" title="Settings" sortOrder="50"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mirasvit_Rma::config_rma" title="Mirasvit RMA Section" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
