<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Elasticsearch native compatibility -->
    <preference for="Magento\Elasticsearch\Model\Adapter\Index\IndexNameResolver" type="Mirasvit\SearchElasticNative\Model\Index\IndexNameResolver"/>
    <preference for="Magento\Elasticsearch\Model\Adapter\Elasticsearch" type="Mirasvit\SearchElasticNative\Model\ElasticsearchAdapter"/>
    <preference for="Magento\Elasticsearch\Model\Adapter\FieldMapperInterface" type="Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapperResolver"/>

    <type name="Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapperResolver">
        <arguments>
            <argument name="fieldMappers" xsi:type="array">
                <item name="product" xsi:type="string">Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapperProxy</item>
                <item name="magento_catalog_category" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="magento_cms_page" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="external_wordpress_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="mirasvit_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="mirasvit_kb_article" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="mirasvit_gry_registry" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="magefan_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="aheadworks_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="mageplaza_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="ves_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="ves_brand_brand" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="magento_catalog_attribute" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="amasty_faq_question" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="amasty_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
                <item name="blackbird_contentmanager_content" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexFieldMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Elasticsearch\Model\Adapter\DataMapper\DataMapperResolver">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="magento_catalog_category" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="magento_cms_page" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="external_wordpress_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="mirasvit_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="mirasvit_kb_article" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="mirasvit_gry_registry" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="magefan_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="aheadworks_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="mageplaza_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="ves_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="ves_brand_brand" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="magento_catalog_attribute" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="amasty_faq_question" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="amasty_blog_post" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
                <item name="blackbird_contentmanager_content" xsi:type="string">Mirasvit\SearchElasticNative\Model\Index\IndexDataMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Elasticsearch\SearchAdapter\Aggregation\Builder">
        <arguments>
            <argument name="dataProviderContainer" xsi:type="array">
                <item name="magento_catalog_category" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="magento_cms_page" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="external_wordpress_post" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="mirasvit_blog_post" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="mirasvit_kb_article" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="mirasvit_gry_registry" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="magefan_blog_post" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="aheadworks_blog_post" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="mageplaza_blog_post" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="ves_blog_post" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="ves_brand_brand" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="magento_catalog_attribute" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="amasty_faq_question" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="amasty_blog_post" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
                <item name="blackbird_contentmanager_content" xsi:type="object">Mirasvit\SearchElasticNative\Model\Search\AggregationDataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Elasticsearch\Model\Adapter\BatchDataMapper\DataMapperResolver">
        <plugin name="DataMapperResolverPlugin" type="Mirasvit\SearchElasticNative\Plugin\DataMapperResolverPlugin"/>
    </type>

    <type name="Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Mapper">
        <plugin name="mstElastic5MapperPlugin" type="Mirasvit\SearchElasticNative\Plugin\Elasticsearch\MapperPlugin"/>
    </type>

    <type name="Magento\Elasticsearch\Elasticsearch6\SearchAdapter\Mapper">
        <plugin name="mstElastic6MapperPlugin" type="Mirasvit\SearchElasticNative\Plugin\Elasticsearch\MapperPlugin"/>
    </type>

    <type name="Magento\Framework\Search\Dynamic\IntervalFactory">
        <arguments>
            <argument name="intervals" xsi:type="array">
                <item name="elasticsearch" xsi:type="string">Magento\Elasticsearch\SearchAdapter\Aggregation\Interval</item>
                <item name="elasticsearch5" xsi:type="string">Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Aggregation\Interval</item>
                <item name="elasticsearch6" xsi:type="string">Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Aggregation\Interval</item>
                <item name="elasticsearch7" xsi:type="string">Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Aggregation\Interval</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\AdvancedSearch\Model\SuggestedQueries">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="elasticsearch" xsi:type="string">Magento\Elasticsearch\Model\DataProvider\Suggestions</item>
                <item name="elasticsearch5" xsi:type="string">Magento\Elasticsearch\Model\DataProvider\Suggestions</item>
                <item name="elasticsearch6" xsi:type="string">Magento\Elasticsearch6\Model\DataProvider\Suggestions</item>
                <item name="elasticsearch7" xsi:type="string">Magento\Elasticsearch6\Model\DataProvider\Suggestions</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\Elasticsearch\Model\Layer\Search\Context" type="Magento\Catalog\Model\Layer\Search\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">elasticsearchLayerSearchItemCollectionProvider</argument>
            <argument name="stateKey" xsi:type="object">Magento\CatalogSearch\Model\Layer\Search\StateKey</argument>
        </arguments>
    </virtualType>

    <virtualType name="elasticsearchFulltextSearchCollectionFactory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">elasticsearchFulltextSearchCollection</argument>
        </arguments>
    </virtualType>

    <virtualType name="elasticsearchLayerSearchItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="elasticsearch" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
                <item name="elasticsearch5" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
                <item name="elasticsearch6" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
                <item name="elasticsearch7" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Elasticsearch\Model\Layer\Category\Context" type="Magento\Catalog\Model\Layer\Category\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">mst_LayerCategoryItemCollectionProvider</argument>
        </arguments>
    </virtualType>

    <virtualType name="elasticsearchCategoryCollectionFactory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">elasticsearchCategoryCollection</argument>
        </arguments>
    </virtualType>

    <virtualType name="elasticsearchLayerCategoryItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="elasticsearch" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch5" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch6" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch7" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="mst_LayerCategoryItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="elasticsearch" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch5" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch6" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch7" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Elasticsearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="elasticsearch" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch5" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch6" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
                <item name="elasticsearch7" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="mst_LayerSearchItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="elasticsearch" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
                <item name="elasticsearch5" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
                <item name="elasticsearch6" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
                <item name="elasticsearch7" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Elasticsearch\Model\Layer\Search\Context" type="Magento\Catalog\Model\Layer\Search\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">mst_LayerSearchItemCollectionProvider</argument>
            <argument name="stateKey" xsi:type="object">Magento\CatalogSearch\Model\Layer\Search\StateKey</argument>
        </arguments>
    </virtualType>

    <type name="Magento\CatalogSearch\Model\Advanced\ProductCollectionPrepareStrategyProvider">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="elasticsearch" xsi:type="object">Magento\Elasticsearch\Model\Advanced\ProductCollectionPrepareStrategy</item>
                <item name="elasticsearch5" xsi:type="object">Magento\Elasticsearch\Model\Advanced\ProductCollectionPrepareStrategy</item>
                <item name="elasticsearch6" xsi:type="object">Magento\Elasticsearch\Model\Advanced\ProductCollectionPrepareStrategy</item>
                <item name="elasticsearch7" xsi:type="object">Magento\Elasticsearch\Model\Advanced\ProductCollectionPrepareStrategy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="elasticsearch" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Advanced\CollectionFactory</item>
                <item name="elasticsearch5" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Advanced\CollectionFactory</item>
                <item name="elasticsearch6" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Advanced\CollectionFactory</item>
                <item name="elasticsearch7" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Advanced\CollectionFactory</item>
            </argument>
        </arguments>
    </type>

</config>
