<div class="mst-email__campaign-help">
    <h3><!-- ko i18n: 'A campaign serves as a container for a well-planned series of emails that share a similar idea and intended for a single goal.' --><!-- /ko --></h3>

    <ul class="instruction">
        <li class="point"><i class="fa fa-hand-o-right"></i>Press <b>Create Campaign</b> button below</li>
        <li class="point"><i class="fa fa-hand-o-right"></i>Next, you can choose one of the <b>ready to use campaigns</b> as a template for your campaign to start with or create a <b>custom empty campaign</b></li>
        <li class="point"><i class="fa fa-hand-o-right"></i>Set <b>title</b> for your campaign, e.g. <i>Abandoned Cart Recovery Campaign</i></li>
        <li class="point"><i class="fa fa-hand-o-right"></i>Go ahead and launch your campaign</li>
    </ul>

    <p translate="'Start by creating the first campaign'"></p>
    <button data-bind="click: createCampaign.bind($data)" title="Create Campaign" type="button" class="action- scalable primary">
        <span translate="'Create Campaign'"></span>
    </button>

    <i class="icon-help fa fa-book"></i>
</div>
