<div class="action-select-wrap" tabindex="0" data-bind="attr: { id: uid}">
    <!-- Search Field -->
    <div class="admin__action-multiselect-search-wrap" data-bind="visible: isDisplaySearch">
        <input
                class="admin__control-text admin__action-multiselect-search"
                data-role="advanced-select-text"
                type="text"
                data-bind="
                    event: {
                        keydown: filterOptionsKeydown
                    },
                    attr: {id: uid+2, placeholder: placeholder},
                    valueUpdate: 'afterkeydown',
                    value: filterInputValue,
                    hasFocus: filterOptionsFocus
        ">
        <label
                class="admin__action-multiselect-search-label"
                data-action="advanced-select-search"
                data-bind="attr: {for: uid+2}
        ">
        </label>
        <div if="itemsQuantity"
             data-bind="text: itemsQuantity"
             class="admin__action-multiselect-search-count">
        </div>
    </div>

    <!-- Options List -->
    <ul class="admin__action-multiselect-menu-inner _root"
        data-bind="
            event: {
                mousemove: function(data, event){onMousemove($data, $index(), event)}
            }
    ">
        <!-- ko foreach: { data: options, as: 'option'}  -->
        <li class="admin__action-multiselect-menu-inner-item action-menu-item _root" data-bind="
                css: {
                    _selected: $parent.isSelected(option.value),
                    _hover: $parent.isHovered(option, $element),
                    _expended: $parent.getLevelVisibility($data),
                    _unclickable: $parent.isLabelDecoration($data),
                    _last: $parent.addLastElement($data)
                },
                click: function(data, event){
                    $parent.toggleOptionSelected($data, $index(), event);
                },
                clickBubble: false
        ">
            <label class="admin__action-multiselect-label">
                <span data-bind="text: option.label"></span>
                <span
                        if="$parent.getPath(option)"
                        class="admin__action-multiselect-item-path"
                        data-bind="text: $parent.getPath(option)"></span>
            </label>
        </li>
        <!-- /ko -->
    </ul>
</div>
