<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="email" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label" sortOrder="100">
            <group id="statistic" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20">
                <label>Statistic</label>
                <field id="reset" type="button" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Mirasvit\EmailReport\Block\Adminhtml\System\Config\Reset</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
