<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mirasvit\Rewards\Api\RewardsInterface" type="Mirasvit\RewardsCheckout\Model\Checkout\Rewards" />

    <!--OVERRIDES-->
    <preference for="Klarna\KcoCore\Model\Api\Parameter" type="Mirasvit\RewardsCheckout\Klarna\KcoCore\Model\Api\Parameter" />

    <type name="\Bambora\Online\Model\Method\Epay\Payment">
        <plugin name="AddRewardsPoints discount for Bambora Online" type="\Mirasvit\RewardsCheckout\Plugin\ThirdParty\BamboraOnlineAddRewardsPointsDiscount" sortOrder="1" />
    </type>

    <type name="\Amasty\CommonRules\Model\Modifiers\ModifierInterface">
        <plugin name="AmastyShippingRestrictionCompatibility" type="\Mirasvit\RewardsCheckout\Plugin\ThirdParty\AmastyCommonRulesAddRewardsDiscount" sortOrder="1" />
    </type>
    <type name="\Amasty\ShippingTableRates\Model\Rate">
        <plugin name="AmastyShippingTableRatesCompatibility" type="\Mirasvit\RewardsCheckout\Plugin\ThirdParty\AmastyShippingTableRatesAddRewardsDiscount" sortOrder="1" />
    </type>

    <type name="Magento\Quote\Model\QuoteRepository">
        <plugin name="cart_repository1" type="Mirasvit\RewardsCheckout\Model\Cart\CartRepositoryPlugin" sortOrder="1" />
    </type>
    <!-- compatibility with Customweb_DocDataCw -->
    <type name="Customweb\DocDataCw\Controller\Checkout\Failure">
        <plugin name="remove_purchase_order_on_checkout_failure" type="Mirasvit\RewardsCheckout\Plugin\ThirdParty\CustomwebDocDataCwResetPurchaseOrderPlugin" sortOrder="1" />
    </type>

</config>