<button type="button" class="action-default email-designer__variable-default" data-bind="click: openVariables">
    <!-- ko i18n: 'Insert Variable' --><!-- /ko -->
</button>

<textarea class="admin__control-textarea editor" data-bind="
    value: value,
    valueUpdate: valueUpdate,
    hasFocus: focused,
    attr: {
        name: inputName,
        cols: cols,
        rows: rows,
        'aria-describedby': noticeId,
        placeholder: placeholder,
        id: uid,
        disabled: disabled,
        'data-area': inputName
    },
    afterRender: $parent.afterRender"
    />