<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="email_order_set_template_vars_before">
        <observer name="omnyfy_orderbarcode_add_barcode" instance="Omnyfy\OrderBarcode\Observer\AddBarcode" />
    </event>
    <event name="email_order_comment_set_template_vars_before">
        <observer name="omnyfy_orderbarcode_add_barcode" instance="Omnyfy\OrderBarcode\Observer\AddBarcode" />
    </event>
    <event name="email_invoice_set_template_vars_before">
        <observer name="omnyfy_orderbarcode_add_barcode" instance="Omnyfy\OrderBarcode\Observer\AddBarcode" />
    </event>
    <event name="email_invoice_comment_set_template_vars_before">
        <observer name="omnyfy_orderbarcode_add_barcode" instance="Omnyfy\OrderBarcode\Observer\AddBarcode" />
    </event>
</config>
