<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <custompayment>
                <active>0</active>
                <model>Vinh\CustomPayment\Model\CustomPayment</model>
                <order_status>pending</order_status>
                <title>Custom Payment</title>
                <allowspecific>0</allowspecific>
            </custompayment>
        </payment>
    </default>
</config>
