<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mirasvit_CustomerSegment::segment" title="Customer Segments"
             module="Mirasvit_CustomerSegment" parent="Magento_Customer::customer"
             sortOrder="60" action="customersegment/segment"
             resource="Mirasvit_CustomerSegment::customersegment_segment"/>
    </menu>
</config>
