<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customersegment" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label" sortOrder="100">
            <label>Customer Segments</label>
            <tab>mirasvit</tab>
            <resource>Mirasvit_CustomerSegment::customersegment_settings</resource>
            <group id="export" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20">
                <label>Export Settings</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable automatic export of the segment's customers to CSV file after segment data refresh.
                        Export path <b>var/export/</b>]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
