"Request RMA","طلب RMA"
"My Returns","بلدي العودة"
Grid,شبكة
List,قائمة
All,الكل
"Create RMA","إنشاء RMA"
"Request New Return","طلب عائد جديد"
"Max file size: %1Mb","الحد الأقصى لحجم الملف: %1Mb"
"New Return for Order #%1","إرجاع جديد للطلب رقم 1__"
"RMA #%1","RMA #%1"
"RMA #%1 - %2","RMA #%1 - %2"
"Wrong Order #, Email or Last Name","طلب خطأ # ، البريد الإلكتروني أو اسم العائلة"
Items,العناصر
"To apply changes, you need to fill in the required ""%1"" field","لتطبيق التغييرات ، يجب ملء الحقل &quot;%1&quot; المطلوب"
"Please, add order items to the RMA (set 'Qty to Return')","من فضلك ، إضافة عناصر النظام إلى RMA (تعيين &quot;الكمية للعودة&quot;)"
"Please, set the correct order items Quantity to return","من فضلك ، تعيين عناصر النظام الصحيح الكمية للعودة"
"RMA was successfully created","تم إنشاء RMA بنجاح"
"Shipping is confirmed. Thank you!","تأكيد الشحن. شكرا لكم!"
"Your message was successfully added","تمت إضافة رسالتك بنجاح"
"Allowed extensions:","الامتدادات المسموح بها:"
"Maximum size:","أكبر مقاس:"
"-- Please Select --","- من فضلك اختر -"
" at %1 (%2)","في %1 (%2)"
"Mark as unresolved","علامة غير محلولة"
"Mark as resolved","وضع علامة على حلها"
"not set","غير مضبوط"
Pattern,نمط
"Attribute Value","قيمة السمة"
Default,افتراضي
Integer,"عدد صحيح"
Price,السعر
"Strip Tags","قطاع العلامات"
"Primary Attributes","السمات الأساسية"
"Stock Attributes","سمات الأسهم"
"Prices & Taxes","الأسعار والضرائب"
Images,صور
"Custom Attributes","سمات مخصصة"
Mapping,"رسم الخرائط"
Category,الفئة
"Amasty Meta Tags","اميستا ميتا العلامات"
"Others Attributes","سمات أخرى"
Text,نص
"Multi-line text","نص متعدد الخطوط"
Date,تاريخ
Checkbox,مربع
"Drop-down list","قائمة منسدلة"
Reason,السبب
Condition,شرط
Resolution,القرار
"RMA #","رقم RMA"
"Order #","طلب #"
"Customer Email","البريد الإلكتروني للعميل"
"Customer Name","اسم الزبون"
Owner,صاحب
"Last Replier","المجلد الأخير"
Status,الحالة
Store,متجر
"Created At","أنشئت في"
"Last Activity","النشاط الاخير"
"View link","عرض الرابط"
"New RMA has been created","تم إنشاء RMA جديد"
"RMA has been changed","تم تغيير RMA"
"New reply from customer","رد جديد من العميل"
"New reply from staff","رد جديد من الموظفين"
"-- Default Address --","-- العنوان الافتراضي --"
"Update the Product","تحديث المنتج"
"Conditions Combination","شروط مزيج"
"RMA Attribute","سمات RMA"
"Last 7-days Clicks","آخر 7 أيام من النقرات"
"Last 7-days Orders","آخر 7 أيام أوامر"
"Last 7-days Revenue","آخر 7 أيام إيرادات"
"Last 7-days Conversation Rate (%)","آخر 7 أيام من معدل المحادثة (٪)"
"Attribute Set","مجموعة السمات"
Quantity,كمية
"Product Type","نوع المنتج"
"Base Image","الصورة الأساسية"
Thumbnail,"صورة مصغرة"
"Small Image","صورة صغيرة"
"Base Image Size (bytes)","حجم الصورة الأساسية (بايت)"
"Thumbnail Size (bytes)","حجم الصورة المصغرة (بالبايت)"
"Small Image Size (bytes)","حجم الصورة الصغيرة (بايت)"
"PHP Condition","حالة PHP"
"Open Chooser","اختيار محدد"
"Last message body","آخر نص رسالة"
"Updated At","تم التحديث في"
"Status (before change)","الحالة (قبل التغيير)"
"Owner (before change)","المالك (قبل التغيير)"
"Last Reply By","آخر رد بواسطة"
"Hours since Created","ساعات منذ إنشائها"
"Hours since Updated","ساعات منذ التحديث"
"Hours since Last reply","ساعات منذ آخر رد"
"Items have reason","عناصر لها سبب"
"Items have condition","العناصر لديها شرط"
"Items have resolution","عناصر لها القرار"
"%1 (before change)","%1 (قبل التغيير)"
Customer,زبون
Staff,العاملين
"- Disable these emails -","- تعطيل هذه الرسائل -"
Yes,"نعم فعلا"
No,لا
Save,حفظ
"Save & Continue Edit","حفظ ومتابعة تحرير"
"Save & Close","حفظ وإغلاق"
Edit,تصحيح
Delete,حذف
"Delete ""${ $.$data.name }""","حذف "${ $.$data.name }""
"Are you sure you wan't to delete a ""${ $.$data.name }"" record?","هل أنت متأكد من أنك لن تحذف سجل "${ $.$data.name }"؟"
"Are you sure you want to do this?","هل انت متأكد من أنك تريد أن تفعل هذا؟"
"Convert To Ticket","تحويل الى تذكرة"
"View order #${ $.$data.order_id }","عرض الطلب #${ $.$data.order_id }"
"View exchange order %1","عرض طلب الصرف %1"
"RMA: Report by Attribute","RMA: تقرير حسب السمة"
"RMA: Report by Status","RMA: تقرير حسب الحالة"
"RMA: Report by Product","RMA: تقرير حسب المنتج"
"RMA: Report by Reasons","RMA: تقرير حسب الأسباب"
"Cannot delete return address with id %1","لا يمكن حذف عنوان المرسل بالمعرّف %1"
"Cannot delete item with id %1","لا يمكن حذف عنصر بمعرّف %1"
"Cannot delete condition with id %1","لا يمكن حذف الشرط باستخدام المعرف %1"
"Cannot delete field with id %1","لا يمكن حذف الحقل بالمعرف %1"
"Cannot delete message with id %1","لا يمكن حذف الرسالة ذات المعرف %1"
"Cannot delete history with id %1","لا يمكن حذف السجل بالمعرف %1"
"Cannot delete Quick Response with id %1","لا يمكن حذف &quot;الاستجابة السريعة&quot; بالمعرف %1"
"Cannot delete reason with id %1","لا يمكن حذف السبب بالمعرف %1"
"Cannot delete resolution with id %1","لا يمكن حذف القرار بالمعرف %1"
"Cannot delete RMA with id %1","لا يمكن حذف rma بالرقم %1"
"Cannot delete rule with id %1","لا يمكن حذف القاعدة ذات المعرف %1"
"Cannot delete status with id %1","لا يمكن حذف الحالة بمعرف %1"
"Please, enter a message","من فضلك أدخل رسالة"
"Product Name","اسم المنتج"
SKU,SKU
Qty,الكمية
"This was a gift, please do not notify purchaser","كانت هذه هدية ، من فضلك لا تخطر المشتري"
"Enter your contact information","أدخل معلومات الاتصال الخاصة بك"
"First Name","الاسم الاول"
"Last Name",الكنية
Email,"البريد الإلكتروني"
Telephone,هاتف
"To request a new RMA or check the status of the current RMA, please, fill out the form:","لطلب RMA جديد أو التحقق من حالة RMA الحالية ، يرجى تعبئة النموذج:"
"* Required Fields","* الحقول المطلوبة"
"Order Information","معلومات الطلب"
"Email or Last Name","البريد الإلكتروني أو اسم العائلة"
Next,التالى
RMA,RMA
Actions,أفعال
"View Return","عرض العودة"
"There are no Returns","لا توجد عودة"
"Items %1 to %2 of %3 total","البنود %1 إلى %2 من إجمالي %3"
"%1 Item(s)","%1 البند (العناصر)"
Show,تبين
"per page","لكل صفحة"
"View as","يبدو مثل"
"Sort by","ترتيب حسب"
"Set Ascending Direction","تحديد الاتجاه التصاعدي"
"Set Descending Direction","تحديد الاتجاه التنازلي"
"Please, select an order","من فضلك ، حدد طلب"
Order,طلب
"-- Select an Order --","- اختر طلب -"
"You have no completed orders to request RMA on or your orders were placed more than %1 days ago. Please, contact customer service.","ليس لديك أي طلبات مكتملة لطلب RMA أو تم تقديم طلباتك قبل أكثر من %1 يومًا. من فضلك ، اتصل بخدمة العملاء."
"Submit Request","تقديم الطلب"
"Please, select RMA items which you would like to return.","من فضلك ، اختر عناصر RMA التي ترغب في العودة إليها."
"Additional Information","معلومة اضافية"
"Attach files","إرفاق ملفات"
"Request Information","طلب معلومات"
"Email Address","عنوان البريد الإلكتروني"
"Order Shipping Address","طلب عنوان الشحن"
"Items in this order","العناصر في هذا الترتيب"
"There are no items for this product that can be returned.","لا توجد عناصر لهذا المنتج يمكن إرجاعها."
"Another RMA for this product: %1","RMA آخر لهذا المنتج: %1"
"This product can not be returned due to RMA Policy","لا يمكن إرجاع هذا المنتج بسبب سياسة RMA"
"This is a non-returnable item per our return policy.","هذا هو بند غير قابل للإرجاع وفقًا لسياسة الإرجاع."
"Quantity to return","الكمية للعودة"
"-- Select a Reason --","-- اختر سببا --"
"-- Select a Condition --","- اختر الشرط -"
"-- Select a Resolution --","- اختر القرار -"
"I agree","أنا أتفق"
"Date: %1","التاريخ: %1"
"Original order: #%1","الطلب الأصلي: #%1"
"Return Address","اعد العنوان"
"Customer Information","معلومات العميل"
"RMA History","تاريخ RMA"
"RMA Items","عناصر RMA"
Weight,وزن
"Print RMA Packing Slip","طباعة RMA التعبئة زلة"
"Print RMA Shipping Label","طباعة RMA الشحن التسمية"
"Confirm Shipping","تأكيد الشحن"
"(This was a gift)","(هذه كانت هدية)"
"Date Requested","تاريخ طلب"
"Contact Information","معلومات الاتصال"
"Items RMA Requested for","البنود المطلوبة ل"
QTY,الكمية
"Add Message","اضافة رسالة"
Submit,خضع
%name,٪اسم
"The quantity is incorrect.","الكمية غير صحيحة."
"New Return for Offline Order","عودة جديدة لأمر دون اتصال"
" at %1","في 1__"
Select,تحديد
"If you do not have an account on this store, please fill in the form below.","إذا لم يكن لديك حساب في هذا المتجر ، يُرجى ملء النموذج أدناه."
"-- Create Offline Order --","- إنشاء أمر دون اتصال -"
"Returned Item","البند عاد"
"Remove Item","إزالة بند"
"Order or Receipt #","أمر أو الإيصال #"
"Add Item","اضافة عنصر"
"Add at least one item to this RMA","أضف عنصر واحد على الأقل إلى RMA"
