"Request RMA","בקש RMA"
"My Returns","החזרה שלי"
Grid,רֶשֶׁת
List,רשימה
All,"את כל"
"Create RMA","צור RMA"
"Request New Return","בקש החזרה חדשה"
"Max file size: %1Mb","גודל קובץ מרבי: %1Mb"
"New Return for Order #%1","החזרה חדשה להזמנה מס &#39;1"
"RMA #%1","RMA #%1"
"RMA #%1 - %2","RMA #%1 - %2"
"Wrong Order #, Email or Last Name","הזמנה שגויה #, דוא&quot;ל או שם משפחה"
Items,פריטים
"To apply changes, you need to fill in the required ""%1"" field","כדי להחיל שינויים עליך למלא שדה &quot;%1&quot; נדרש"
"Please, add order items to the RMA (set 'Qty to Return')","אנא, הוסף פריטים להזמנה ל- RMA (הגדר &#39;כמות להחזרה&#39;)"
"Please, set the correct order items Quantity to return","בבקשה, בחר פריטים בסדר הנכון כדי לחזור"
"RMA was successfully created","RMA נוצר בהצלחה"
"Shipping is confirmed. Thank you!","המשלוח מאושר. תודה!"
"Your message was successfully added","ההודעה שלך נוספה בהצלחה"
"Allowed extensions:","תוספים מורשים:"
"Maximum size:","גודל מקסימלי:"
"-- Please Select --","-- בבקשה תבחר --"
" at %1 (%2)","ב 12__)"
"Mark as unresolved","סמן כבלתי פתור"
"Mark as resolved","סימן כפי שיוחלט"
"not set","לא מוכן"
Pattern,תַבְנִית
"Attribute Value","ערך תכונה"
Default,"בְּרִירַת מֶחדָל"
Integer,"מספר שלם"
Price,מחיר
"Strip Tags","רצועת תגיות"
"Primary Attributes","תכונות עיקריות"
"Stock Attributes","תכונות מלאי"
"Prices & Taxes","מחירים &amp; מסים"
Images,תמונות
"Custom Attributes","תכונות מותאמות אישית"
Mapping,מיפוי
Category,קטגוריה
"Amasty Meta Tags","תגיות מטא Amast"
"Others Attributes","תכונות אחרות"
Text,טֶקסט
"Multi-line text","טקסט מרובה שורות"
Date,תַאֲרִיך
Checkbox,"תיבת סימון"
"Drop-down list","רשימה נפתחת"
Reason,סיבה
Condition,מַצָב
Resolution,"פתרון הבעיה"
"RMA #","RMA #"
"Order #","להזמין #"
"Customer Email","דוא&quot;ל לקוח"
"Customer Name","שם לקוח"
Owner,בעלים
"Last Replier","תיקייה אחרונה"
Status,סטָטוּס
Store,חֲנוּת
"Created At","נוצר ב"
"Last Activity","פעילות אחרונה"
"View link","הצג קישור"
"New RMA has been created","חדש RMA נוצר"
"RMA has been changed","RMA השתנה"
"New reply from customer","תשובה חדשה מהלקוח"
"New reply from staff","תשובה חדשה מן הצוות"
"-- Default Address --","-- כתובת ברירת מחדל --"
"Update the Product","עדכן את המוצר"
"Conditions Combination","תנאים שילוב"
"RMA Attribute","תכונות RMA"
"Last 7-days Clicks","אחרון 7 ימים קליקים"
"Last 7-days Orders","7 הימים האחרונים"
"Last 7-days Revenue","אחרון 7 ימים הכנסות"
"Last 7-days Conversation Rate (%)","שיעור השיחה האחרון של 7 ימים (%)"
"Attribute Set","הגדרת תכונות"
Quantity,כַּמוּת
"Product Type","סוג המוצר"
"Base Image","תמונה בסיסית"
Thumbnail,"תמונה ממוזערת"
"Small Image","תמונה קטנה"
"Base Image Size (bytes)","גודל תמונה בסיסית (בתים)"
"Thumbnail Size (bytes)","גודל תמונה ממוזערת (בתים)"
"Small Image Size (bytes)","גודל תמונה קטן (בתים)"
"PHP Condition","תנאי PHP"
"Open Chooser","פתח את Chooser"
"Last message body","גוף ההודעה האחרונה"
"Updated At","עודכן ב"
"Status (before change)","סטטוס (לפני שינוי)"
"Owner (before change)","בעלים (לפני השינוי)"
"Last Reply By","תגובה אחרונה מאת"
"Hours since Created","שעות מאז נוצר"
"Hours since Updated","שעות מאז עודכן"
"Hours since Last reply","שעות מאז התשובה האחרונה"
"Items have reason","פריטים יש סיבה"
"Items have condition","פריטים יש מצב"
"Items have resolution","פריטים יש רזולוציה"
"%1 (before change)","%1 (לפני שינוי)"
Customer,צרכן
Staff,צוות
"- Disable these emails -","- השבת הודעות דוא&quot;ל אלה -"
Yes,כן
No,לא
Save,להציל
"Save & Continue Edit","שמור והמשך עריכה"
"Save & Close","שמור סגור"
Edit,לַעֲרוֹך
Delete,לִמְחוֹק
"Delete ""${ $.$data.name }""","מחק את "${ $.$data.name }""
"Are you sure you wan't to delete a ""${ $.$data.name }"" record?","האם אתה בטוח שאינך רוצה למחוק רשומת "${ $.$data.name }"?"
"Are you sure you want to do this?","האם אתה בטוח שברצונך לעשות זאת?"
"Convert To Ticket","המר לכרטיס"
"View order #${ $.$data.order_id }","הצג הזמנה מס &#39;${ $.$data.order_id }"
"View exchange order %1","הצג סדר חליפין %1"
"RMA: Report by Attribute","RMA: דווח על מאפיינים"
"RMA: Report by Status","RMA: דווח על ידי מצב"
"RMA: Report by Product","RMA: דוח לפי מוצר"
"RMA: Report by Reasons","RMA: דווח על סיבות"
"Cannot delete return address with id %1","לא ניתן למחוק את כתובת החזרה עם id %1"
"Cannot delete item with id %1","לא ניתן למחוק פריט עם מזהה %1"
"Cannot delete condition with id %1","לא ניתן למחוק את המצב עם מזהה %1"
"Cannot delete field with id %1","לא ניתן למחוק שדה עם מזהה %1"
"Cannot delete message with id %1","לא ניתן למחוק הודעה עם מזהה %1"
"Cannot delete history with id %1","לא ניתן למחוק היסטוריה עם מזהה %1"
"Cannot delete Quick Response with id %1","לא ניתן למחוק תגובה מהירה עם id %1"
"Cannot delete reason with id %1","לא ניתן למחוק סיבה עם מזהה %1"
"Cannot delete resolution with id %1","לא ניתן למחוק רזולוציה עם id %1"
"Cannot delete RMA with id %1","לא ניתן למחוק את rma עם id %1"
"Cannot delete rule with id %1","לא ניתן למחוק כלל עם מזהה %1"
"Cannot delete status with id %1","לא ניתן למחוק סטטוס עם מזהה %1"
"Please, enter a message","אנא, הזן הודעה"
"Product Name","שם מוצר"
SKU,מק&quot;ט
Qty,כמות
"This was a gift, please do not notify purchaser","זו היתה מתנה, בבקשה לא ליידע את הרוכש"
"Enter your contact information","הזן את פרטי הקשר שלך"
"First Name","שם פרטי"
"Last Name","שם משפחה"
Email,אֶלֶקטרוֹנִי
Telephone,טֵלֵפוֹן
"To request a new RMA or check the status of the current RMA, please, fill out the form:","כדי לבקש RMA חדש או לבדוק את הסטטוס של RMA הנוכחי, אנא מלא את הטופס:"
"* Required Fields","* שדות חובה"
"Order Information","מידע על ההזמנה"
"Email or Last Name","דוא&quot;ל או שם משפחה"
Next,הַבָּא
RMA,RMA
Actions,פעולות
"View Return","הצג חזרה"
"There are no Returns","אין החזרות"
"Items %1 to %2 of %3 total","פריטים %1 %2 של %3 סה&quot;כ"
"%1 Item(s)","%1 פריט (ים)"
Show,לְהַצִיג
"per page",לדף
"View as","מוצג כ"
"Sort by","מיין לפי"
"Set Ascending Direction","קבע כיוון עולה"
"Set Descending Direction","קבע כיוון יורד"
"Please, select an order","בבקשה, בחר הזמנה"
Order,להזמין
"-- Select an Order --","- בחר הזמנה -"
"You have no completed orders to request RMA on or your orders were placed more than %1 days ago. Please, contact customer service.","אין לך הזמנות שהושלמו כדי לבקש RMA או שההזמנות שלך הוצבו לפני יותר מ- %1 ימים. אנא צור קשר עם שירות הלקוחות."
"Submit Request","שלח בקשה"
"Please, select RMA items which you would like to return.","אנא, בחר פריטים RMA שבו אתה רוצה לחזור."
"Additional Information","מידע נוסף"
"Attach files","צרף קבצים"
"Request Information","בקשת מידע"
"Email Address","כתובת דוא&quot;ל"
"Order Shipping Address","הזמנת כתובת למשלוח"
"Items in this order","פריטים בסדר זה"
"There are no items for this product that can be returned.","אין פריטים למוצר זה שניתן להחזיר."
"Another RMA for this product: %1","עוד RMA עבור מוצר זה: %1"
"This product can not be returned due to RMA Policy","לא ניתן להחזיר מוצר זה עקב מדיניות RMA"
"This is a non-returnable item per our return policy.","זהו פריט שאינו ניתן להחזרה בהתאם למדיניות ההחזרה שלנו."
"Quantity to return","כמות לחזור"
"-- Select a Reason --","-- בחר סיבה --"
"-- Select a Condition --","- בחר תנאי -"
"-- Select a Resolution --","- בחר רזולוציה -"
"I agree","אני מסכים"
"Date: %1","תאריך: %1"
"Original order: #%1","הזמנה מקורית: #%1"
"Return Address","כתובת החזרה"
"Customer Information","מידע ללקוחות"
"RMA History","RMA היסטוריה"
"RMA Items","פריטים RMA"
Weight,מִשׁקָל
"Print RMA Packing Slip","הדפסה RMA אריזה החלקה"
"Print RMA Shipping Label","הדפס RMA תווית משלוח"
"Confirm Shipping","אשר את המשלוח"
"(This was a gift)","(זו היתה מתנה)"
"Date Requested","תאריך מבוקש"
"Contact Information","פרטי התקשרות"
"Items RMA Requested for","פריטים RMA מבוקש עבור"
QTY,QTY
"Add Message","הוסף הודעה"
Submit,שלח
%name,%שֵׁם
"The quantity is incorrect.","הכמות שגויה."
"New Return for Offline Order","החזרה חדשה עבור הזמנה לא מקוונת"
" at %1","ב 1__"
Select,בחר
"If you do not have an account on this store, please fill in the form below.","אם אין לך חשבון בחנות זו, מלא את הטופס הבא."
"-- Create Offline Order --","- יצירת הזמנה לא מקוונת -"
"Returned Item","פריט הוחזר"
"Remove Item","הסר פריט"
"Order or Receipt #","הזמנה או קבלה #"
"Add Item","הוסף פריט"
"Add at least one item to this RMA","הוסף לפחות פריט אחד ל- RMA זה"
"Return Addresses","כתובות חוזרות"
"Add New Return Address","הוסף כתובת החזרה חדשה"
"General Information","מידע כללי"
Title,כותרת
"Sort Order","סדר המיון"
"Is Active","הוא פעיל"
ID,"תעודת זהות"
Active,פעיל
Disabled,מושבת
Enabled,מופעל
"Change status","לשנות סטטוס"
"Are you sure?","האם אתה בטוח?"
Conditions,תנאים
"Add New Condition","הוסף תנאי חדש"
"[STORE VIEW]","[תצוגת חנות]"
"Create RMA for this customer","צור RMA עבור לקוח זה"
Fields,שדות
"Add New Field","הוסף שדה חדש"
Code,קוד
Type,הקלד
Description,תיאור
"Options list","רשימת אפשרויות"
"Only for drop-down list.
                <br>Enter each value from the new line using format:
                <br>value1 | label1
                <br>value2 | label2","רק לרשימה הנפתחת. <br> הזן כל ערך מהשורה החדשה באמצעות פורמט: <br> ערך 1 Label1 <br> value2 | LABEL2"
"Sort order","סדר המיון"
"Is required for staff","נדרש עבור הצוות"
"Is required for customers","נדרש עבור לקוחות"
"Visible for customers in statuses","גלוי ללקוחות בסטטוסים"
"Is show in confirm shipping dialog","האם הצג בתיבת הדו-שיח לאישור משלוח"
"Is editable for customers","ניתן לעריכה עבור לקוחות"
Statuses,סטטוסים
Reasons,סיבות
Resolutions,החלטות
"Custom Fields","שדות מותאמים אישית"
"Quick Responses","תגובות מהירות"
"Workflow Rules","כללי זרימת עבודה"
Reports,דיווחים
Settings,הגדרות
"Add New Reason","הוסף סיבה חדשה"
"Add New Resolution","הוסף רזולוציה חדשה"
"Add New RMA","הוסף RMA חדש"
"Create New RMA","צור RMA חדש"
"Purchased From (Store)","נרכש מ- (חנות)"
"Purchased On","רכש ב"
"Bill to Name","ביל על שם"
"Ship to Name","משלוח אל שם"
"G.T. (Base)","GT (בסיס)"
"G.T. (Purchased)","GT (רכש)"
Print,הדפס
"Credit Memo",זיכוי
"Exchange Order","הזמנת Exchange"
"Delete File","מחק קובץ"
"RMA Owner","בעל RMA"
"Upload Return Label","העלה תווית חזרה"
"External Link","קישור חיצוני"
open,פתוח
"(received a gift)","(קיבל מתנה)"
"Exchage Order",הזמנה
Company,החברה
"Street Address","כתובת רחוב"
City,עיר
Zip/Postcode,מיקוד
Rules,כללים
"Add New Rule","הוסף כלל חדש"
"Set Status","הגדר סטטוס"
"Set Owner","הגדר בעלים"
Event,אירוע
Filters,מסננים
"Rule Name","שם החוק"
Priority,עדיפות
"Arranged in ascending order. 0 is the highest.","מסודר בסדר עולה. 0 הוא הגבוה ביותר."
"Stop Further Rules Processing","עצור כללים נוספים עיבוד"
Notifications,התראות
"Send email to RMA owner","שלח דוא&quot;ל לבעלים של RMA"
"Send email to customer","שלח דוא&quot;ל ללקוח"
"Send email to other email addresses","שלח דוא&quot;ל לכתובות דוא&quot;ל אחרות"
"Email subject","נושא האימייל"
"Email body","גוף דוא&quot;ל"
"Attach files which were attached to the last message","צרף קבצים שצורפו להודעה האחרונה"
"Is Stop Processing","הוא עצור עיבוד"
"Create RMA for this order","צור RMA עבור הזמנה זו"
"Order meets RMA policy","ההזמנה עומדת במדיניות RMA"
"Order doesn't meet RMA policy","ההזמנה אינה עומדת במדיניות RMA"
"Add New Status","הוסף סטטוס חדש"
"Show buttons 'Print RMA Packing Slip', 'Print RMA Shipping Label' and 'Confirm Shipping' in the customer account","הצג לחצנים &#39;הדפס RMA אריזה Slip&#39;, &#39;הדפס RMA תווית משלוח&#39; ו &#39;אישור משלוח&#39; בחשבון הלקוח"
"Email Notification for customer","הודעת אימייל עבור הלקוח"
"leave blank to not send","השאר ריק כדי לא לשלוח"
"Message for RMA history","הודעה עבור היסטוריית RMA"
"Email Notification for administrator","הודעת אימייל עבור מנהל המערכת"
Templates,תבניות
"Add New Template","הוסף תבנית חדשה"
"Internal Title","כותרת פנימית"
Template,תבנית
"You can use the variables:
                [rma_increment_id],
                [rma_firstname],
                [rma_lastname],
                [rma_email],
                [store_name],
                [store_phone],
                [store_address],
                [user_firstname],
                [user_lastname],
                [user_email]","ניתן להשתמש במשתנים: [rma_increment_id], [rma_firstname], [rma_lastname], [rma_emastname], [store_name], [store_phone], [store_address], [user_firstname], [user_lastname], [user_email]"
Stores,חנויות
"RMA Return Address","RMA כתובת השולח"
"New Return Address","כתובת החזרה החדשה"
"Return Address Manager","חזור לכתובת מנהל"
"Add Return Address ","הוסף כתובת חזרה"
"Add Return Address","הוסף כתובת חזרה"
"Return Address was successfully deleted","כתובת ההחזרה נמחקה בהצלחה"
"Edit Return Address '%1'","ערוך כתובת חזרה &#39;%1&#39;"
"Edit Return Address ","ערוך כתובת חזרה"
"The Return Address does not exist.","כתובת השולח אינה קיימת."
"Please select Return Address(es)","בחר כתובת (כתובות) חזרה"
"Total of %d record(s) were successfully updated","סה&quot;כ% d הרשומות עודכנו בהצלחה"
"Total of %1 record(s) were successfully deleted","סך הרשומות של %1 הרשומות נמחקו בהצלחה"
"return Address was successfully saved","הכתובת חזרה נשמרה בהצלחה"
"Unable to find Return Address to save","לא ניתן למצוא את כתובת החזרה לשמירה"
"New Condition","תנאי חדש"
"Condition  Manager","מנהל תנאי"
"Condition Manager","מנהל תנאי"
"Add Condition ","הוסף תנאי"
"Add Condition","הוסף תנאי"
"Condition was successfully deleted","המצב נמחק בהצלחה"
"Edit Condition '%1'","ערוך מצב &#39;%1&#39;"
"Edit Condition ","ערוך תנאי"
"The Condition does not exist.","התנאי אינו קיים."
"Please select Condition(s)","בחר תנאים (תנאים)"
"Total of %d record(s) were successfully deleted","סה&quot;כ% d הרשומות נמחקו בהצלחה"
"Condition was successfully saved","המצב נשמר בהצלחה"
"Unable to find Condition to save","לא ניתן למצוא את המצב לשמירה"
"New Field","שדה חדש"
"Field  Manager","מנהל שטח"
"Field Manager","מנהל שטח"
"Add Field ","הוסף שדה"
"Add Field","הוסף שדה"
"Field was successfully deleted","Field נמחק בהצלחה"
"Edit Field '%1'","ערוך שדה &#39;%1&#39;"
"Edit Field ","ערוך שדה"
"The Field does not exist.","השדה אינו קיים."
"Please select Field(s)","בחר שדות (שדות)"
"Field was successfully saved","שדה נשמר בהצלחה"
"Unable to find Field to save","לא ניתן למצוא את השדה כדי לשמור"
"New Reason","סיבה חדשה"
"Reason  Manager","מנהל סיבה"
"Reason Manager","מנהל סיבה"
"Add Reason ","הוסף סיבה"
"Add Reason","הוסף סיבה"
"Reason was successfully deleted","הסיבה נמחקה בהצלחה"
"Edit Reason '%1'","ערוך את הסיבה &#39;%1&#39;"
"Edit Reason ","ערוך את הסיבה"
"The Reason does not exist.","הסיבה אינה קיימת."
"Please select Reason(s)","בחר סיבה (ים)"
"Reason was successfully saved","הסיבה נשמרה בהצלחה"
"Unable to find Reason to save","לא ניתן למצוא סיבה לשמירה"
"Statistics was successfully updated","הסטטיסטיקה עודכנה בהצלחה"
"RMA by Brand","RMA לפי מותג"
"RMA Report","RMA דוח"
"RMA by Product","RMA לפי מוצר"
Rma,RMA
"New Resolution","רזולוציה חדשה"
"Resolution  Manager","מנהל רזולוציה"
"Resolution Manager","מנהל רזולוציה"
"Add Resolution ","הוסף רזולוציה"
"Add Resolution","הוסף רזולוציה"
"The resolution was successfully deleted","הפתרון נמחק בהצלחה"
"Edit Resolution '%1'","ערוך רזולוציה &#39;%1&#39;"
"Edit Resolution ","ערוך רזולוציה"
"The Resolution does not exist.","ההחלטה אינה קיימת."
"Please select Resolution(s)","בחר רזולוציה (ים)"
"Resolution was successfully saved","הפתרון נשמר בהצלחה"
"Unable to find Resolution to save","לא ניתן למצוא את הרזולוציה לשמירה"
"New RMA","חדש RMA"
"RMA was successfully deleted","RMA נמחק בהצלחה"
"The RMA does not exist.","ה- RMA אינו קיים."
"Marked as read","מסומן כנקרא"
"Marked as unread","מסומנת כלא נקראה"
"Please select rma(s)","בחר rma (s)"
"A total of %1 record(s) have been deleted.","סך של __1 רשומות (רשומות) נמחקו."
"RMA was successfully saved","RMA נשמר בהצלחה"
"Unable to find RMA to save","לא ניתן למצוא rma כדי לשמור"
"New Rule","חוק חדש"
"Rule  Manager","מנהל כלל"
"Rule Manager","מנהל כלל"
"Add Rule ","הוסף כלל"
"Add Rule","הוסף כלל"
"Rule was successfully deleted","כלל נמחק בהצלחה"
"Edit Rule '%1'","ערוך כלל &#39;%1&#39;"
"Edit Rule ","ערוך כלל"
"The Rule does not exist.","הכלל אינו קיים."
"Please select Rule(s)","בחר כלל (ים)"
"Rule was successfully saved","כלל נשמר בהצלחה"
"Unable to find Rule to save","לא ניתן למצוא כלל לשמירה"
"New Status","סטטוס חדש"
"Status  Manager","מנהל סטטוס"
"Status Manager","מנהל סטטוס"
"Add Status ","הוסף סטטוס"
"Add Status","הוסף סטטוס"
"Status was successfully deleted","הסטטוס נמחק בהצלחה"
"Edit Status '%1'","ערוך סטטוס &#39;%1&#39;"
"Edit Status ","ערוך סטטוס"
"The Status does not exist.","הסטטוס אינו קיים."
"Please select Status(s)","בחר בסטטוס (ים)"
"Status was successfully saved","הסטטוס נשמר בהצלחה"
"Unable to find Status to save","לא ניתן למצוא את המצב לשמירה"
"New Template","תבנית חדשה"
"Template  Manager","מנהל התבניות"
"Template Manager","מנהל התבניות"
"Add Template ","הוסף תבנית"
"Add Template","הוסף תבנית"
"Template was successfully deleted","התבנית נמחקה בהצלחה"
"Edit Template '%1'","ערוך תבנית &#39;%1&#39;"
"Edit Template ","ערוך תבנית"
"The Template does not exist.","התבנית אינה קיימת."
"Please select Template(s)","בחר תבניות"
"Template was successfully saved","התבנית נשמרה בהצלחה"
"Unable to find Template to save","לא ניתן למצוא תבנית לשמירה"
"Created Date","תאריך יצירה"
Action,פעולה
View,נוף
RMAs,RMAs
"Select Order","בחר הזמנה"
"Exchange/Credit Balance","יתרות אשראי / אשראי"
"Customer credit balance:","יתרת זכות לקוח:"
"Total price of new products:","מחיר כולל של מוצרים חדשים:"
"Total price of exchanged/credit products:","סה&quot;כ מחיר של מוצרי חליפין / אשראי:"
"Price difference:","הבדל במחיר:"
Resolution:,"פתרון הבעיה:"
"Get %1 from customer credit balance","קבל את %1 מיתרת האשראי של הלקוח"
"Put %1 towards customer credit balance","הוסף את %1 למאזן האשראי של הלקוח"
"Resolve manually","פתרון ידני"
"Message Type","סוג הודעה"
"Message to Customer","הודעה ללקוח"
"Internal Note","הערה פנימית"
"mark as unread","סמן כלא נקרא"
"mark as read","סמן כנקרא"
"You can not return more than is available. Please, try again.","אתה לא יכול לחזור יותר, מאשר זמין. בבקשה נסה שוב."
"show all order items","הצג את כל הפריטים בסדר"
"Qty to Return","כמות לחזור"
"Reason to Return","סיבה לחזור"
"Item Condition","מצב המוצר"
"(Bundled Product)","(מוצר ארוזות)"
Stock,המניה
Ordered,מסודר
Available,זמין
--,-
"Insert Quick Response","הכנס תגובה מהירה"
"Default status for new RMA","מצב ברירת המחדל עבור RMA חדש"
"Default owner for new RMA","בעל ברירת מחדל עבור RMA חדש"
"Ask customer to confirm shipping","שאל את הלקוח כדי לאשר את המשלוח"
"Shipping confirmation text","טקסט אישור על משלוח"
"Enable option ""This was a gift""","אפשר אפשרות &quot;זו היתה מתנה&quot;"
"Enable integration with Help Desk","אפשר שילוב עם Help Desk"
"Code of ""Brand"" attribute","קוד התכונה &quot;מותג&quot;"
"Allow upload only attachments with extensions","אפשר להעלות רק קבצים מצורפים עם תוספים"
"Limit of attachments size, Mb","הגבלת גודל קבצים מצורפים, Mb"
"Show Columns in RMA Grid","הצג עמודות ברשת RMA"
"Show RMA section in Customer Account","הצג סעיף RMA בחשבון הלקוח"
"Customers are required to select:","הלקוחות נדרשים לבחור:"
"Allow for requesting an RMA after order completion, days","אפשר לבקש RMA לאחר השלמת ההזמנה, ימים"
"Allow for requesting an RMA if order has status","אפשר לבקש RMA אם יש סטטוס"
"Ask to agree with RMA policy text","בקש להסכים עם טקסט של מדיניות RMA"
"CMS block with RMA policy text","CMS לחסום עם טקסט מדיניות RMA"
"Number Format","פורמט מספר"
"Start Counter From","התחל מונה מ"
"Counter Increment Step","שלב הגדלת נגד"
"Counter Length","אורך הדלפק"
"Email Sender","שולח דוא&quot;ל"
"Template of Notification Email for Customer","תבנית הודעת דוא&quot;ל עבור הלקוח"
"Template of Notification Email for RMA Owner","תבנית הודעת דוא&quot;ל עבור בעל RMA"
"Template of Rule Notification","תבנית של הודעת חוק"
" Send blind carbon copy (BCC) of all emails to","שלח העיוור עותק פחמן (BCC) של כל הודעות דוא&quot;ל"
"At least one RMA item should have the resolution ""Exchange"".","לפחות פריט אחד RMA צריך רזולוציה &quot;Exchange&quot;."
"Add another order","הוסף הזמנה נוספת"
"Offline Order","הזמנה לא מקוונת"
OR,או
"Select Offline Order","בחר באפשרות הזמנה לא מקוונת"
