<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="rma" frontName="rma">
            <module name="Mirasvit_Rma" before="Magento_Adminhtml"/>
        </route>
        <route id="uiform" frontName="uiform">
            <module name="Mirasvit_Rma" />
        </route>
    </router>
</config>
