<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="rma" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label" sortOrder="100">
            <label>RMA</label>
            <tab>mirasvit</tab>
            <resource>Mirasvit_Rma::config_rma</resource>
            <group id="general" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>General Settings</label>
                <field id="return_address" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Return Address</label>
                </field>
                <field id="default_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default status for new RMA</label>
                    <source_model>\Mirasvit\Rma\Model\Config\Source\Rma\Status</source_model>
                </field>
                <field id="default_user" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default owner for new RMA</label>
                    <source_model>\Mirasvit\Rma\Model\System\Config\Source\Admin\User</source_model>
                </field>
                <field id="is_require_shipping_confirmation" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ask customer to confirm shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipping_confirmation_text" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping confirmation text</label>
                </field>
                <field id="is_offline_orders" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow RMA for offline orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_gift_active" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable option &quot;This was a gift&quot;</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_helpdesk_active" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable integration with Help Desk</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="brand_attribute" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Code of &quot;Brand&quot; attribute</label>
                </field>
                <field id="file_allowed_extensions" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow attachment upload with extensions</label>
                    <comment>Separate by commas  ie. jpg,png,pdf,gif</comment>
                </field>
                <field id="shipping_label_allowed_extensions" translate="label" type="text" sortOrder="95" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow shipping label upload with extensions</label>
                    <comment>Separate by commas  ie. jpg,png,pdf,gif</comment>
                </field>
                <field id="file_size_limit" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Limit of attachments size, Mb</label>
                </field>
            </group>
            <group id="frontend" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                <label>Customer Account</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show RMA section in Customer Account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_guest_rma_by_order" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show RMA for guest customer by order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Guest customer will see only RMA for entered order #</comment>
                </field>
                <field id="rma_customer_requirement" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customers are required to select:</label>
                    <source_model>\Mirasvit\Rma\Model\Config\Source\Rma\Customer\Requirement</source_model>
                    <comment>select here RMA Items properties, which should be set at frontend by customer, the others should be set by agent in backend</comment>
                </field>
            </group>
            <group id="policy" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30">
                <label>RMA Policy</label>
                <field id="return_period" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow for requesting an RMA after order completion, days</label>
                </field>
                <field id="allow_in_statuses" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow for requesting an RMA if order has status</label>
                    <source_model>\Mirasvit\Rma\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="is_allow_multiple_order" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow RMA for multiple orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="return_only_shipped" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Request only shipped products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If the order has only been partially shipped, then only the shipped items will be available for the RMA</comment>
                </field>
                <field id="is_active" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ask to agree with RMA policy text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="policy_block" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CMS block with RMA policy text</label>
                    <source_model>\Mirasvit\Rma\Model\Config\Source\Cms\Block</source_model>
                </field>
            </group>
            <group id="number" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                <label>RMA Number</label>
                <field id="allow_manual" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow a Manual RMA Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="format" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number Format</label>
                    <comment>Cannot be empty</comment>
                </field>
                <field id="reset_counter" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reset Counter For Order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="counter_start" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Counter From</label>
                </field>
                <field id="counter_step" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Increment Step</label>
                </field>
                <field id="counter_length" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Length</label>
                </field>
            </group>
            <group id="notification" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                <label>Email Notification Settings</label>
                <field id="sender_email" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="customer_email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of Notification Email for Customer</label>
                    <source_model>\Mirasvit\Rma\Model\System\Config\Source\Email\Template</source_model>
                </field>
                <field id="admin_email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of Notification Email for RMA Owner</label>
                    <source_model>\Mirasvit\Rma\Model\System\Config\Source\Email\Template</source_model>
                </field>
                <field id="rule_template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of Rule Notification</label>
                    <source_model>\Mirasvit\Rma\Model\System\Config\Source\Email\Template</source_model>
                </field>
                <field id="send_email_bcc_type" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Send Email Copy Method</label>
                    <source_model>\Mirasvit\Rma\Model\System\Config\Source\Email\Method</source_model>
                </field>
                <field id="send_email_bcc" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Send copy of all emails to</label>
                </field>
            </group>
            <group id="advanced_settings" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="60">
                <label>Advanced Settings</label>
                <field id="apply_styles" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Force theme to apply styles</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If theme overrides Magento way of including style this option will add extension's styles to page]]></comment>
                </field>
            </group>
        </section>
        <section id="carriers" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="rma_free_shipping" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>RMA Free Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This method can be used only for RMA Replacement Order]]></comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="method_name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
